// ============================
// Mass Mailing "Theme Prime"
// ============================

// ===== Prime Theme palette =====

// /!\/!\/!\/!\ WARNING also change in python file

$o-mm-prime-color-primary: #4285f4;
$o-mm-prime-color-secondary: #f3f5f9;
$o-mm-prime-color-info: #33b5e5;
$o-mm-prime-color-warning: #ffbb33;
$o-mm-prime-color-danger: #ff3547;
$o-mm-prime-color-header: #333333;
$o-mm-prime-color-content: #737373;
