@include d-border-size-mixin();
@include d-border-style-mixin();

.d-border-gray {
    border-color: rgba(0, 0, 0, 0.12);
}

.d-border-top {
    border-left: none;
    border-bottom: none;
    border-right: none;
}
.d-border-left {
    border-bottom: none;
    border-right: none;
    border-top: none;
}
.d-border-right {
    border-left: none;
    border-bottom: none;
    border-top: none;
}
.d-border-bottom {
    border-left: none;
    border-right: none;
    border-top: none;
}
.d-border-top-bottom {
    border-left: none;
    border-right: none;
}

.d-border-top-bottom {
    border-left: none;
    border-right: none;
}

.o_layout {
    font-size: 14px;
    table {
        font-size: 14px;
    }
}

.o_layout.o_prime_theme {
    // User agent stylesheet spacing issues (occurred in v12 to v13 migration)
    table {
        line-height: 1.5;
    }
    // HECK TO display colors (bg-*)
    .o_mail_snippet_general {
        background-color: transparent;
    }
    // HECK TO display correct font-size
    a, .btn.btn-link {
        color: $o-mm-prime-color-primary;
        font-weight: bold;
        text-decoration: none !important;
        span.fa {
            color: $o-mm-prime-color-primary;
        }
    }

    &, small, div, p, span {
        color: $o-mm-prime-color-content;
    }

    // ALTERNATIVE IF ANY ISSUE FOUND
    // :not([class*="bg-"]) {
    //     &, small, div, p, span {
    //         color: $o-mm-prime-color-content;
    //     }
    // }

    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        color: $o-mm-prime-color-header;
    }

    // Hack for bg-900. We use bg-900 for dark header and footer.
    // bg-900 color override by default font color so we change it to white.
    .bg-900 {
        .fa:not([class*="text-"]), .blockquote-text small, a:not(.btn), a.btn-link, p, h1, h2, h3, h4, h5, h6, div:not([class*="text-"]), small:not([class*="text-"]), span:not([class*="text-"]) {
            color: #fff !important;
        }
    }

    .border-primary {
        border-color: $o-mm-prime-color-primary !important;
    }
    .badge-primary {
        background: $o-mm-prime-color-primary !important;
        background-color: $o-mm-prime-color-primary !important;
        color: #fff;
        padding: 5px 10px;
    }
}


// Check can be merged
.o_prime_theme {
    @include d-color-variant('o-color-1', 'primary', #fff);
    @include d-color-variant('o-color-2', 'secondary', #fff);
    @include d-color-variant('o-color-3', 'info', #fff);
    @include d-color-variant('o-color-4', 'warning', #fff);
    @include d-color-variant('o-color-5', 'danger', #fff);
}


// Extras

.d_mail_h_padding_mini {
    padding-left: 5px;
    padding-right: 5px;
}
.d_mail_v_padding_mini {
    padding-top: 5px;
    padding-bottom: 5px;
}
.d_mail_h_padding_md {
    padding-left: 15px;
    padding-right: 15px;
}
.d_mail_v_padding_md {
    padding-top: 15px;
    padding-bottom: 15px;
}
.d_mail_h_padding_sm {
    padding-left: 10px;
    padding-right: 10px;
}
.d_mail_v_padding_sm {
    padding-top: 10px;
    padding-bottom: 10px;
}

.d_border_right_dashed {
    border-right: 1px dashed white;
}
.d_font_small {
    font-size: 10px;
}
:root {
    font-size: 16px !important;
}
