.o_footer {
  background-color: $main-text-color !important;
}

.bf-right li a:hover {
    color: $main-yellow-color !important;
}
ul.bottom-social li a:hover {
    color: $main-yellow-color !important;
}

ul.footer-bulletlist li a:hover {
  color: $main-yellow-color !important;
}