$main-text-color:       #885e24;
$main-yellow-color:     #fdb414;
$main-yello-dark-color: #e37f1d;
$main-dark-color:       #333333;

$brand-primary: #885e24;
$brand-secondary: #fdb414;
$brand-sidebar: #52482b;
$brand-primary-dark: #fdb414;
$brand-secondary-dark: #885e24;

$o-tip-color: #885e24;

$gray: #777;

$o-tip-border-width: 3px;
