.d_field_color_palette {
    .d_theme_customize_color {
        background-color: white;
        border: 1px solid gray('200');
        &:hover {
            background-color: gray('100');
        }
        .d-palette-color-preview {
            position: relative;
            display: inline-block;
            width: 50px;
            height: 27px;
            border-radius: 3px;
            box-shadow: 0px 0px 0px 2px inset rgba(22,22,22, 0.1);
        }
    }
}
